
html, div, img {
	padding:0;
	margin:0;
	background-clip: padding-box;
	padding-bottom: 0px;
	padding-top: 0px;
	overflow: auto;
}

body {
	min-height: 100%;
	height: 100%;
	font-family: verdana;
	/* background-color: rgb(125, 219, 211); */
	padding:0;
	margin:0;
	background-clip: padding-box;
	padding-bottom: 0px;
	padding-top: 0px;
	overflow: auto;
}

/* MAIN MENU */
ul#mainmenu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(8, 42, 233)
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vw;
    font-size: 1.5vw;
    text-decoration: none;
    transition: all 500ms;
  }
  li a:hover {
    background-color: rgb(9, 85, 228);
    font-size:1.7vw;
    font-size-adjust: 0.5;
    
  }

/*position of the tabs*/
  .left {
    float: left;
  }
  
.right {
  float: right;
}

.displaycenter {
  display: inline-block;
}


/* sign up button*/
  button {
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px;
    width: 200px;
    padding: 10px 0;
    transition: 0.4s;
  }
  /*button of sign up style*/
  .signup {
    color: white;
    background-color: rgb(8, 42, 233);

  }

  /*search bar*/
  input {
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    width: 400px;
    padding: 12px 20px 12px 20px;
  }

/*footers for souvenirs pages*/
  footer {
    position: fixed;
    text-align: center;
    bottom:0;
    width: 100%;
    color: white;
    background-color: rgb(8, 42, 233);
    padding: 10px 0;
    margin-left: -40px;
   }




